
  <div style="text-align: center;">
    <h1>
      Soduko Solver
    </h1>
  </div>
<div *ngIf="grid" style="padding: 20px">
  <div *ngFor="let row of grid;let rowIndex = index" class="row">
    <div *ngFor="let colItem of row;let colIndex = index" class="column">
      <div>
        <input [ngModel]="grid[rowIndex][colIndex]" 
        (ngModelChange)="updateValue($event,rowIndex,colIndex)"
        #input="ngModel"
        class="input-cell"
        [disabled]="solved"
        id="input_{{rowIndex}}_{{colIndex}}"
        name="input_{{rowIndex}}_{{colIndex}}" />
      </div>
    </div>
  </div>

  <div style="width: 100%; padding-top: 20px;">
    <span style="padding-right: 5px;">
      <button (click)="solve()">
        solve
      </button>
    </span>
<span *ngIf="solved">
  <button (click)="resetGrid()">
    Reset
  </button>
</span>
  </div>
</div>